# Ignore Python virtual environments
.venv/
env/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore egg info
src.egg-info/

# Ignore environment and dependency files
.DS_Store
.vscode/
.idea/
*.log

# Ignore dataset and artifacts
archive/
artifacts/
data/
demo/

# Ignore deployment and Heroku files
Procfile

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
